{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="align-items-center">
        <div class="mt-5 mb-3">
            <h1 class="text-center">Send Emails (with Letterhead)</h1>
        </div>
        <form id="send-email-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="my-3">
              <div class="row">
                <div class="col-md-6">
                  <select name="emailUser" id="emailUser" class="form-select">
                    <option value="">Select Email User</option>
                    <option value="SECOND_USER">info@ahofa.com</option>
                    <option value="FIRST_USER">kd@ahofa.com</option>
                  </select>
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" name="emails" placeholder="Enter email ids">
                </div>
              </div>
            </div>
            <div class="my-3">
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" name="subject" class="form-control" placeholder="Subject">
                  </div>
                  <div class="col-md-6">
                    <input type="file" name="file" id="file" class="form-control" multiple>
                  </div>
                </div>
            </div>
            <div class="my-3">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label ms-2" for="flexCheckDefault">
                Do you want signature in email?
              </label>
            </div>
            <div class="my-3">
                <textarea id="amaraEditor"></textarea>
            </div>
            <div class="my-3 text-center">
                <button type="submit" class="btn btn-dark col-6">Send</button>
            </div>
        </form>
    </div>
</div>

<script>
    tinymce.init({
      selector: '#amaraEditor',
      plugins: [
        // Core editing features
        'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
        // Your account includes a free trial of TinyMCE premium features
        // Try the most popular premium features until Jan 20, 2025:
        'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown','importword', 'exportword', 'exportpdf'
      ],
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
      tinycomments_mode: 'embedded',
      tinycomments_author: 'Sanju Thapa',
      ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
    });
  </script>
  <script src="/media/js/send-mails.js"></script>
  <script>
    const checkBox = document.getElementById('flexCheckDefault');
    checkBox.addEventListener('change', () => {
      if (checkBox.checked) {
        checkBox.value = 'isSignatureActive';
      } else {
        checkBox.value = '';
      }
    })
  </script>
{% endblock %}